.main{
    color: black;
}

.center{
    display: flex;
}

.textLabelcolor{
    color: #FEBC14 !important;
    font-weight: 400;
    fill: solid;
    font-style: regular;
}

.brand{
 display: flex;
 justify-content: center;
 
}